/*Styles for the cart*/
:root {
    --primary: #f85555;
    --light-gray: #dcd9d9;
    --gray: #c7c7c7;
    --dark-gray: #4f4f4f;
    --text-gray: #ababab;
    --input-bg: #f8f8f8;
    --input-border: #f1f1f1;
}

.nav-modal{
    width: 350px;
    min-height: 500px;
    height: 100%;
    margin-top: 150px;
    border: none;
    transition: all ease-in-out .3s;
    display: flex; 
    flex-direction: column;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.cart-container{
    padding: 15px;
    line-height: 1.5;
}

.cart-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}



.cart__title{
    font-size: 20px;
    color: var(--dark-gray);
}

.cart__footer{
    margin-bottom: 50px;
}

.cart__divider{
    width: 100%;
    border: 1px solid var(--light-gray);
    margin-top: 100px;
}

.cart__footer{
    display: flex;
    justify-content: space-between;
}

.cart__total-global{
    color: var(--text-gray);
}

.cart__total-global-value{
    color: var(--dark-gray);
    font-weight: 600;
}

.cart__total-global-value::before{
    content: '$';
    margin-right: 5px;
}

.cart__checkout-btn{
    background-color: var(--primary);
    color: white;
    font-size: 15px;
    padding: 15px;
    width: 100%;
}

.cart__checkout-btn:hover{
    background-color: var(--dark-gray);
}

.cart__empty-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}
.cart__empty-img{
    width: 40%;
}


/* Each item of the cart */
.cart__item{
    margin: 15px 0;
}

.cart__category{
    margin-top: 10px;
    color: var(--text-gray);
    font-weight: 600;
}

.cart__name{
    color: var(--dark-gray);
    font-size: 16px;
}

.cart__trash-qty-container{
    display: flex;
    justify-content: space-between;
}

.cart__quantity{
    border: 1px solid var(--light-gray);
    margin-top: 10px;
    padding: 3px 25px;
    border-radius: 4px;
    font-size: 15px;
}

.cart__trash{
    color: var(--primary);
}

.cart__delete-btn{
    background-color: white;
    font-size: 20px;
}

.cart__item-footer{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.cart__total-label{
    color: var(--text-gray);
    font-size: 15px;
    margin-right: 30px;
}

.cart__total-amount{
    color: var(--dark-gray);
    font-weight: 600;
}
