:root{
    --primary: #f85555;
    --light-gray: #dcd9d9;
    --gray: #c7c7c7;
    --dark-gray: #4f4f4f;
    --text-gray: #ababab;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5{
    margin: 0;
}

.app{
    max-width: 100%;
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
/* .active-link{
    background-color: red;
    color: aliceblue;
    font-size: 20px;
} */

img{
    width: 100%;
}

button{
    border: none;
    cursor: pointer;
}


/* HEADER */
.header{
    display: flex;
    border-bottom: 1px solid var(--light-gray);
    position: fixed;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 1;
}

.header__nav{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 70px;
}

.header__item{
    border-left: 1px solid var(--light-gray);
    background: none;
    font-size: 1.5rem;
    color: var(--light-gray);
    padding: 15px;
    text-align: center;
    width: 30%;
}

.header__item i{
    color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
    color: var(--primary);
    padding: 15px 20px;
    font-weight: 600;
    flex: 1 1;
}